ENV=development
PROJECT_NAME=FastAPI Template
API_PORT=8001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=app
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=30
