fastapi==0.115.12
alembic==1.15.2
asyncpg==0.29.0
bcrypt==4.0.1
celery==5.5.1
email-validator==2.2.0
passlib[bcrypt]==1.7.4
pgvector==0.4.2
pydantic-settings==2.8.1
psycopg2-binary==2.9.9
redis==5.2.1
python-jose[cryptography]==3.4.0
SQLAlchemy==2.0.40
uvicorn==0.34.1
